/* .p {
            max-width: 600px;
            font-size: 18px;
            margin-top:20px;
          }
           <p>
            Plateforme de gestion des archives permettant de stocker,
            organiser et consulter les documents administratifs de manière
            sécurisée et efficace.
          </p> */